<!DOCTYPE html>
<html lang="en">

<head>
	<title>404 : Page Not Found</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'personal/img/12642574_10204180688076225_4677165812812521837_n.ico' %}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<meta name="twitter:image" content="personal/img/pic.jpg">
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			<br>
			<center>
				<h1>404 PAGE NOT FOUND</h1>
			</center>
		</div><hr>
		<br>
		<br>
		<br>
		<div class="row">
			<center>
				<img src="{% static 'personal/img/pic2.jpg' %}" width=40% height=40%>
		  </center>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<a href="https://www.linkedin.com/in/saad-aouad-919897b5?trk=nav_responsive_tab_profile" target="blank"><span class="fa fa-linkedin"></span></a> | <a href="https://twitter.com/AouadSaad" target="blank"><span class="fa fa-twitter"></span></a> | <a href="https://github.com/saadaouad" target="blank"><span class="fa fa-github"></span></a>
		</div>
	</footer>

</body>

</html>
