{% extends "personal/header.html" %}

{% block content %}
    <div class="col-sm-3">
    </div>
		<div class="row">
			<div class="col-sm-4">
				<div class="center-block">
					<form action="https://getsimpleform.com/messages?form_api_token=c2f6923362d7ff4493865ebd337c4963" method="post">
							<div class="form-group">
                <input type="hidden" name="redirect_to" value="http://saad-aouad.rhcloud.com/thanks/" />
								<p class="required" for="name">What is your name</p>
								<input class="form-control" name="name" type="text" required="" />
							</div>
							<div class="form-group">
								<p class="required" for="email">What is your email address</p>
								<input class="form-control" name="email" type="email" required="" />
							</div>
					    <div class="form-group">
								<p class="required" for="subject">What is the subject</p>
								<input class="form-control" name="subject" type="text" required=""/>
							</div>
							<div class="form-group">
								<p class="required" for="message">Write your message</p>
								<textarea class="form-control" name="message" rows="8" placeholder="" required=""></textarea>
							</div>
						  <div class="form-group">
								<input class="btn btn-primary" type="submit" value="Submit" />
							</div>
              <hr size="30">
          			<p>E-mail : aouadsaad05@gmail.com <i class="em em-e-mail"></i></p>
          			<p>Phone : +212 6 14 62 11 39 <i class="em em-telephone_receiver"></i></p>
					</form>
				</div>
			</div>
		</div>
{% endblock %}
