{% extends "personal/header.html" %}

{% block content %}
	<h4><b>Developer web @ OBytes <i class="em em-tangerine"></i></b></h4>
		<a href="http://www.obytes.com/">http://www.obytes.com/</a>
		<p>April 2016 - today | Maroc</p>
	<hr size="30"> 
	<h4><b>Developer web @ Eclisse.com</b></h4>
		<a href="http://www.groupe-eclisse.com/">http://www.groupe-eclisse.com/</a>
		<p>May 2014 - september 2014 | Casablanca</p>
	<hr size="30"> 
	<h4><b>Developer IT @ Dyna Info</b></h4>
		<a href="http://www.dyna-info.com/">http://www.dyna-info.com/</a>
		<p>March 2013 - april 2013 | Casablanca</p>
	<hr size="30"> 
	<h4><b>Software tester @ Dyna Info</b></h4>
		<a href="http://www.dyna-info.com/">http://www.dyna-info.com/</a>
		<p>August 2012 - september 2012 | Casablanca</p>
	<hr size="30"> 
{% endblock %}