{% extends "personal/header.html" %}

{% block content %}

    <h4 class="text-center">I learned to school less and worse informations <i class="em em--1"></i>, So I trained for myself at home <i class="em em-triumph"></i></h4>
    <hr size="30">  
	<h4><b>Graduate school of management <a href="http://www.esgmaroc.com/57-Accueil">http://www.esgmaroc.com/</a></b></h4> 
		<p>Master 1 in computer science of the organizations</p>
		<p>2014 - 2015 | Casablanca</p>
	<hr size="30">
	<h4><b>Graduate school of management <a href="http://www.esgmaroc.com/57-Accueil">http://www.esgmaroc.com/</a></b></h4>
		<p>License in computer science and economics</p>
		<p>2013 - 2014 | Casablanca</p>
	<hr size="30">
	<h4><b>ISGI-OFPPT <a href="http://www.ofppt.ma/">http://www.ofppt.ma/</a></b></h4>
		<p>Technician specialized in IT-development</p>
		<p>2011 - 2013 | Casablanca</p>
	<hr size="30">    
{% endblock %}